
@{
    ViewBag.Title = "StaffDashBoard";
}

<h2>StaffDashBoard</h2>

<div>    
    <table style="display: block; margin: 10px">
        <tbody>
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("StaffViewMaintenance", "Staff")" role="button" style=" margin-top: 12px">Переглянути список тех.робіт за які ви відповідаєте</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("StaffViewSensors", "Staff")" role="button" style=" margin-top: 12px">Переглянути список датчиків</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("StaffViewIndicators", "Staff")" role="button" style=" margin-top: 12px">Переглянути список показників</a></td>
            </tr>
        </tbody>
    </table>
</div>