
@{
    ViewBag.Title = "OMSDashBoard";
}

<h2>OMSDashBoard</h2>

<div>
    <table style="display: block; margin: 10px">
        <tbody>
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("OMSViewMaintenance", "OMS")" role="button">Переглянути список тех.робіт</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("OMSViewSensors", "OMS")" role="button">Переглянути список датчиків</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("OMSViewIndicators", "OMS")" role="button">Переглянути список показників</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("OMSViewUsers", "OMS")" role="button">Переглянути список користувачів міста</a></td>
            </tr>
        </tbody>
    </table>
</div>