@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Мета проекту - підвищення ефективності управління системами опалення та теплопостачання у такій системі, як «Розумне місто» задля покращення комфорту мешканців міста та зменшення зайвих витрат енергії.
    </p>
</main>