@{
    ViewBag.Title = "Зворотній зв'язок";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        КПІ ім. І.Сікорського<br />
        Київ, Україна<br />
        +380-66-422-00-98<br />
    </address>

    <address>
        <strong>Підтримка:</strong>   <a href="mailto:d.d.kublik@gmail.com">d.d.kublik@gmail.com</a><br />
        <strong>Маркетинг:</strong> <a href="mailto:31dekukun13@gmail.com">31dekukun13@gmail.com</a>
    </address>
</main>